In [1]:
# Import the necessary dependencies
import pandas as pd

In [2]:
# Read in the data as a DataFrame
# Provide the dataset URL from an AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get the columns

In [4]:
# Create a custom function that will calculate the average of DataFrame column


# Use the custom_avg function to show the average arrival delay 
# for each carrier, for the day of the month, and day of the week. Round to one decimal place. 



# Rename the column to reflect the aggregation. 


# Sort the pivot table to show the top 25 largest average arrival delay by carrier, day of the month, and day of the week.

In [5]:
# Use the custom_avg function to show the average delay of arrivals and departures
# for each carrier, day of the months and day of the week. Round to one decimal place. 



# Rename the columns to reflect the aggregation. 


# Sort the pivot table to show the greatest average arrival and departures delays
# by carrier, day of the months and day of the week. Show the top 25 results

In [6]:
# Show the bottom 25 results.

In [7]:
# Create a custom function that calculates the total of a DataFrame column.

In [8]:
# Show the total and average number of flights that were diverted for each carrier, the origin, and destination.
# Use the custom functions you created above.



# Rename the columns to reflect the results. 




# Sort the pivot table to show the greatest average and number of diverted flights
# for each carrier, the origin, and destination.. Show the top 25 results