In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m18/lesson_2/datasets/HR-Employee-Attrition.csv')
attrition_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [2]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat, axis=1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499 (1.95 KB)
Trainable params: 499 (1.95 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 2ms/step - loss: 0.6999 - accuracy: 0.6034
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6053 - accuracy: 0.7568
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5434 - accuracy: 0.8276
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4968 - accuracy: 0.8485
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4623 - accuracy: 0.8521
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.8575
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.8603
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8684
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8702
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8702
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8721
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8730
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8775
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8793
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8811
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.8838
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3148 - accuracy: 0.8829
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3094 - accuracy: 0.8875
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3034 - accuracy: 0.8911
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2981 - accuracy: 0.8966
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2932 - accuracy: 0.9029
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.9002
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2839 - accuracy: 0.9047
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2806 - accuracy: 0.9020
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2766 - accuracy: 0.9074
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2728 - accuracy: 0.9083
Epoch 27/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2697 - accuracy: 0.9093
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2672 - accuracy: 0.9074
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2641 - accuracy: 0.9102
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2629 - accuracy: 0.9102
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2588 - accuracy: 0.9102
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2561 - accuracy: 0.9129
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2541 - accuracy: 0.9120
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2520 - accuracy: 0.9165
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2490 - accuracy: 0.9138
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2466 - accuracy: 0.9174
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2446 - accuracy: 0.9174
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2432 - accuracy: 0.9192
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2412 - accuracy: 0.9201
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2403 - accuracy: 0.9211
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2377 - accuracy: 0.9201
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2361 - accuracy: 0.9201
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2340 - accuracy: 0.9211
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2324 - accuracy: 0.9220
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2309 - accuracy: 0.9220
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2307 - accuracy: 0.9211
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2282 - accuracy: 0.9220
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2267 - accuracy: 0.9256
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2249 - accuracy: 0.9265
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2237 - accuracy: 0.9256
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2223 - accuracy: 0.9265
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2207 - accuracy: 0.9238
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2192 - accuracy: 0.9265
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2175 - accuracy: 0.9274
Epoch 55/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2164 - accuracy: 0.9292
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2139 - accuracy: 0.9274
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2116 - accuracy: 0.9310
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2105 - accuracy: 0.9301
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2079 - accuracy: 0.9328
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2065 - accuracy: 0.9301
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2057 - accuracy: 0.9301
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2035 - accuracy: 0.9319
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2024 - accuracy: 0.9319
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2007 - accuracy: 0.9338
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1998 - accuracy: 0.9292
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1990 - accuracy: 0.9338
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9310
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1953 - accuracy: 0.9347
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1947 - accuracy: 0.9328
Epoch 70/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1934 - accuracy: 0.9347
Epoch 71/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1923 - accuracy: 0.9338
Epoch 72/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1908 - accuracy: 0.9365
Epoch 73/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1897 - accuracy: 0.9328
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1892 - accuracy: 0.9347
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1887 - accuracy: 0.9374
Epoch 76/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1876 - accuracy: 0.9347
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1852 - accuracy: 0.9392
Epoch 78/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1849 - accuracy: 0.9383
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1826 - accuracy: 0.9374
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1822 - accuracy: 0.9419
Epoch 81/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1808 - accuracy: 0.9383
Epoch 82/100
35/35 [==============================] - 0s 4ms/step - loss: 0.1802 - accuracy: 0.9392
Epoch 83/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1793 - accuracy: 0.9401
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1778 - accuracy: 0.9419
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1784 - accuracy: 0.9383
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1758 - accuracy: 0.9419
Epoch 87/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1755 - accuracy: 0.9428
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1741 - accuracy: 0.9410
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1734 - accuracy: 0.9446
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1718 - accuracy: 0.9437
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1713 - accuracy: 0.9428
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1703 - accuracy: 0.9456
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1696 - accuracy: 0.9456
Epoch 94/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1693 - accuracy: 0.9465
Epoch 95/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1679 - accuracy: 0.9483
Epoch 96/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1674 - accuracy: 0.9446
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1658 - accuracy: 0.9456
Epoch 98/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1658 - accuracy: 0.9437
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1646 - accuracy: 0.9474
Epoch 100/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1630 - accuracy: 0.9465

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3680 - accuracy: 0.8913 - 351ms/epoch - 29ms/step
Loss: 0.36797207593917847, Accuracy: 0.8913043737411499

## Saving the Trained Model

In [16]:
# Set the model's file path
file_path = Path("saved_models/attrition.keras")

# Export your model to a keras file
nn.save(file_path)

## Loading a Trained Model

In [17]:
# Import the required libraries
import tensorflow as tf

In [18]:
# Set the model's file path
file_path = Path("saved_models/attrition.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_imported.evaluate(X_test_scaled, y_test, verbose=2)

# Display evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3680 - accuracy: 0.8913 - 223ms/epoch - 19ms/step
Loss: 0.36797207593917847, Accuracy: 0.8913043737411499