In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Import the data
df = pd.read_csv("https://static.bc-edx.com/ai/ail-v-1-0/m12/lesson_3/datasets/rent-data-label-encoded.csv")
df.head()

,category,bathrooms,bedrooms,fee,has_photo,pets_allowed,price,price_type,square_feet,cityname,...,Gated,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
0,0,NaN,0.0,0,1,3,790,0,101,1468,...,0,0,0,0,0,0,0,0,0,0
1,0,NaN,1.0,0,1,3,425,0,106,449,...,0,0,0,0,0,0,0,0,0,0
2,0,1.0,0.0,0,1,3,1390,0,107,52,...,0,0,0,0,0,0,0,0,0,0
3,0,1.0,0.0,0,1,3,925,0,116,1285,...,0,0,0,0,0,0,0,0,0,0
4,0,NaN,0.0,0,1,3,880,0,125,52,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Drop rows with missing values
df = df.dropna()

## Split into training and testing sets

In [4]:
# Make an X variable with all columns except price
X_full = df.drop(columns = ['price'])
X_full.columns

Index(['category', 'bathrooms', 'bedrooms', 'fee', 'has_photo', 'pets_allowed',
       'price_type', 'square_feet', 'cityname', 'state', 'latitude',
       'longitude', 'source', 'time', 'Dishwasher', 'Elevator', 'Patio/Deck',
       'Pool', 'Storage', 'Refrigerator', 'AC', 'Basketball',
       'Cable or Satellite', 'Gym', 'Internet Access', 'Clubhouse', 'Parking',
       'Garbage Disposal', 'Fireplace', 'Washer Dryer', 'Playground', 'Gated',
       'TV', 'Hot Tub', 'Tennis', 'Wood Floors', 'View', 'Alarm', 'Doorman',
       'Luxury', 'Golf'],
      dtype='object')

In [5]:
select_features = ["square_feet", "Gated", "bathrooms", "bedrooms", "has_photo", "Pool", "AC"]

# Create another variable X_sel with only the columns
# in the "select_features" list

    square_feet  Gated  bathrooms  bedrooms  has_photo  Pool  AC
2           107      0        1.0       0.0          1     0   0
3           116      0        1.0       0.0          1     0   0
5           130      0        1.0       0.0          1     1   0
8           138      0        1.0       0.0          1     0   0
14          190      0        1.0       0.0          1     0   0

In [6]:
# Set the target variable y

In [7]:
# Now split the data into training and testing sets

## Train the models

In [8]:
# Create the models


# Fit the first model to the full training data. 


# Fit the second model to the select training data.

LinearRegression()

## Evaluate the model

In [9]:
# Calculate the mean_squared_error and the r-squared value
# for the testing data

# Use our models to make predictions


# Score the predictions with mse and r2


print(f"All Features:")
print(f"mean squared error (MSE): {mse1}")
print(f"R-squared (R2): {r21}")
print("---------------------")
print(f"Select Features:")
print(f"mean squared error (MSE): {mse2}")
print(f"R-squared (R2): {r22}")

All Features:
mean squared error (MSE): 517096.7239345895
R-squared (R2): 0.36119653227902704
---------------------
Select Features:
mean squared error (MSE): 576253.8595848796
R-squared (R2): 0.2881158461236345

In [10]:
# Provided code to create the adjusted r-squared function
def r2_adj(x, y, model):
    r2 = model.score(x,y)
    n_cols = x.shape[1]
    return 1 - (1 - r2) * (len(y) - 1) / (len(y) - n_cols - 1)

In [11]:
# Calculate the adjusted r-squared value of the model

All Features Adjusted R2: 0.35048886990103856
Select Features Adjusted R2: 0.286106495689306

In [12]:
# Examine linear regression on the better training data using cross validation
from sklearn.model_selection import cross_val_score

All scores: [0.2791709  0.33997437 0.16930788 0.40130909 0.4533232 ]
Mean score: 0.32861708882353013
Standard Deviation: 0.09878165797610629