In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import scipy.stats as sts

In [2]:
# Read in the LAX temperature data

In [3]:
# Calculate the measures of central tendency

The mean temperature at the LAX airport is 57.65514310002834
The median temperature at the LAX airport is 57.0
The mode temperature at the LAX airport is ModeResult(mode=array([57]), count=array([327]))

In [5]:
# Calculate variance and standard deviation using NumPy

The population variance using the NumPy module is 32.33077618382964
The population standard deviation using the NumPy module is 5.686015844493369

In [6]:
# Calculate z-scores using SciPy

The z-scores using the SciPy module are [-0.99457041 -1.17044048 -0.99457041 ...  0.06065001  0.06065001
  0.06065001]

In [7]:
# Add the z-scores to the original DataFrame as a new column

,STATION,DATE,REPORT_TYPE,HourlyDryBulbTemperature,z_score
0,72295023174,2019-01-01T00:49:00,FM-16,52,-0.994570
1,72295023174,2019-01-01T00:53:00,FM-15,51,-1.170440
2,72295023174,2019-01-01T01:53:00,FM-15,52,-0.994570
3,72295023174,2019-01-01T02:53:00,FM-15,49,-1.522181
4,72295023174,2019-01-01T03:53:00,FM-15,43,-2.577401