In [2]:
import pandas as pd

In [3]:
# Import the data
file = '../Resources/SFO_Airport_Utility_Consumption.csv'
utilities_df = pd.read_csv(file)
utilities_df.head()

   Year  Month Number Month      Utility       Owner   Units       Usage
0  2013             1   Jan   Passengers      Campus     PAX   3209356.0
1  2013             1   Jan          Gas  Commission  Therms    363205.0
2  2013             1   Jan          Gas      Tenant  Therms     49393.0
3  2013             1   Jan  Electricity  Commission     kWh  12904353.0
4  2013             1   Jan  Electricity      Tenant     kWh  14002156.0

In [4]:
# Add a column that tracks the tax rate
# Assume every year and type of utility had 
# a tax rate of 5%, except for 2019 when the 
# tax was raised to 5.5%

# Define a function

# Apply the function to the Year column

,Year,Month Number,Month,Utility,Owner,Units,Usage,Tax Rate
555,2019,8,Aug,Gas,Tenant,Therms,6.160002e+03,0.055
556,2019,8,Aug,Electricity,Commission,kWh,1.563947e+07,0.055
557,2019,8,Aug,Electricity,Tenant,kWh,1.251209e+07,0.055
558,2019,8,Aug,Water,Commission,Million Gallons,2.767076e+01,0.055
559,2019,8,Aug,Water,Tenant,Million Gallons,1.512082e+01,0.055

In [5]:
# Recalculate the tax rate assuming that
# commission owned units were taxed an
# additional 1% on Electricity.

# Define a function

# Apply the function to the DataFrame

,Year,Month Number,Month,Utility,Owner,Units,Usage,Tax Rate
555,2019,8,Aug,Gas,Tenant,Therms,6.160002e+03,0.055
556,2019,8,Aug,Electricity,Commission,kWh,1.563947e+07,0.065
557,2019,8,Aug,Electricity,Tenant,kWh,1.251209e+07,0.055
558,2019,8,Aug,Water,Commission,Million Gallons,2.767076e+01,0.065
559,2019,8,Aug,Water,Tenant,Million Gallons,1.512082e+01,0.055

In [7]:
# Use apply with a lambda function to set
# the existing Tax Rate column to 0 if
# the utility was "Passengers"

# Apply a lambda function

,Year,Month Number,Month,Utility,Owner,Units,Usage,Tax Rate
0,2013,1,Jan,Passengers,Campus,PAX,3209356.0,0.00
1,2013,1,Jan,Gas,Commission,Therms,363205.0,0.06
2,2013,1,Jan,Gas,Tenant,Therms,49393.0,0.05
3,2013,1,Jan,Electricity,Commission,kWh,12904353.0,0.06
4,2013,1,Jan,Electricity,Tenant,kWh,14002156.0,0.05