In [1]:
# Import the modules
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
# Read in the CSV file and create the Pandas DataFrame
customers_df = pd.read_csv("Resources/customer-shopping-data.csv")

# Review the DataFrame
customers_df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen         Method
0  12669  9656     7561     214              2674        1338         Retail
1   7057  9810     9568    1762              3293        1776         Retail
2   6353  8808     7684    2405              3516        7844         Retail
3  13265  1196     4221    6404               507        1788  HotelRestCafe
4  22615  5410     7198    3915              1777        5185         Retail

In [3]:
# Check the DataFrame data types
customers_df.dtypes

Fresh                int64
Milk                 int64
Grocery              int64
Frozen               int64
Detergents_Paper     int64
Delicassen           int64
Method              object
dtype: object

In [4]:
# Get the column names.
customers_df.columns

Index(['Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen',
       'Method'],
      dtype='object')

In [5]:
# Scaling the numeric columns: 'Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen' columns
customers_scaled = StandardScaler().fit_transform(customers_df[['Fresh','Milk','Grocery',
                                                                'Frozen','Detergents_Paper','Delicassen']])
# Display the arrays. 
customers_scaled

array([[ 0.05293319,  0.52356777, -0.04111489, -0.58936716, -0.04356873,
        -0.06633906],
       [-0.39130197,  0.54445767,  0.17031835, -0.27013618,  0.08640684,
         0.08915105],
       [-0.44702926,  0.40853771, -0.0281571 , -0.13753572,  0.13323164,
         2.24329255],
       ...,
       [ 0.20032554,  1.31467078,  2.34838631, -0.54337975,  2.51121768,
         0.12145607],
       [-0.13538389, -0.51753572, -0.60251388, -0.41944059, -0.56977032,
         0.21304614],
       [-0.72930698, -0.5559243 , -0.57322717, -0.62009417, -0.50488752,
        -0.52286938]])

In [6]:
# Creating a DataFrame with with the scaled data
customers_transformed_df = pd.DataFrame(customers_scaled, columns=['Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen'])

# Display sample data
customers_transformed_df.head()

      Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicassen
0  0.052933  0.523568 -0.041115 -0.589367         -0.043569   -0.066339
1 -0.391302  0.544458  0.170318 -0.270136          0.086407    0.089151
2 -0.447029  0.408538 -0.028157 -0.137536          0.133232    2.243293
3  0.100111 -0.624020 -0.392977  0.687144         -0.498588    0.093411
4  0.840239 -0.052396 -0.079356  0.173859         -0.231918    1.299347

In [7]:
# Transform the "Method" column using get_dummies()
purchase_method = pd.get_dummies(customers_df["Method"])

# Display the transformed data
purchase_method.head()

   HotelRestCafe  Retail
0              0       1
1              0       1
2              0       1
3              1       0
4              0       1

In [8]:
# Concatenate the df_shopping_transformed and the card_dummies DataFrames
customers_transformed_df = pd.concat([customers_transformed_df, purchase_method], axis=1)

# Display concatenated DataFrame
customers_transformed_df.head()

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,HotelRestCafe,Retail
0,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339,0,1
1,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151,0,1
2,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293,0,1
3,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411,1,0
4,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347,0,1