In [ ]:
# Import the Reuters database from the nltk corpus 
from nltk.corpus import reuters
# Import tokenizers and pandas
from nltk.tokenize import sent_tokenize, word_tokenize
import pandas as pd

# Import nltk and download the Reuters corpora and the "punkt" sentence tokenizer.
import nltk
nltk.download('reuters')
nltk.download('punkt')

In [2]:
# Search through all categories

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [3]:
# Get all fileids associated with income.

['test/16118', 'test/18534', 'test/18540', 'test/18664', 'test/18665', 'test/18672', 'test/18911', 'training/10602', 'training/10604', 'training/2618', 'training/7005', 'training/7006', 'training/7015', 'training/7036', 'training/7098', 'training/7099']

In [4]:
# Get all raw stories and the ids in separate lists.
# Remove the "test/" from the ids so only the id number is retained.

In [5]:
# Sentence tokenize the stories.

In [6]:
# Word tokenize all sentences using for loops. 
# Create an empty list for the tokenized words

# Write a for loop to get each story from the tokenized sentences.

    # Write a for loop to get all words for each story and add the words to a list.

    
    # Append all words for each article to the word_tokenized list

In [7]:
# Put the raw stories, tokenized sentences, and words into a DataFrame.


# Make the index the story ids.

# Display the DataFrame

,raw_stories,sentence_tokenized,word_tokenized
16118,"YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA S...","[YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA ...","[YUGOSLAV, ECONOMY, WORSENED, IN, 1986, ,, BAN..."
18534,UK AVERAGE EARNINGS ROSE 6.5 PCT IN YEAR TO AP...,[UK AVERAGE EARNINGS ROSE 6.5 PCT IN YEAR TO A...,"[UK, AVERAGE, EARNINGS, ROSE, 6.5, PCT, IN, YE..."
18540,U.K. EARNINGS UP UNDERLYING 7.75 PCT IN APRIL\...,[U.K. EARNINGS UP UNDERLYING 7.75 PCT IN APRIL...,"[U.K., EARNINGS, UP, UNDERLYING, 7.75, PCT, IN..."
18664,"U.S. PERSONAL INCOME ROSE 0.2 PCT IN MAY, SPEN...","[U.S., PERSONAL INCOME ROSE 0.2 PCT IN MAY, SP...","[U.S, ., PERSONAL, INCOME, ROSE, 0.2, PCT, IN,..."
18665,U.S. PERSONAL INCOME ROSE 0.2 PCT IN MAY\n U....,"[U.S., PERSONAL INCOME ROSE 0.2 PCT IN MAY\n ...","[U.S, ., PERSONAL, INCOME, ROSE, 0.2, PCT, IN,..."