In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import scipy.stats as sts

In [2]:
# Create a DataFrame from the cups_of_coffee data
cups_of_coffee = [1, 1, 0, 0, 3, 1, 3, 0, 2, 3, 2, 3, 0, 3, 2, 0, 3, 0, 2, 3, 2, 3, 0, 2, 0, 0, 1]
coffee_consumed = pd.DataFrame(cups_of_coffee, columns=["cups"])

In [3]:
# Calculate the mean, median, and mode of cups of coffee consumed daily
print("Mean: ", np.mean(coffee_consumed.cups))
print("Median: ", np.median(coffee_consumed.cups))
print("Mode: ", sts.mode(coffee_consumed.cups))

Mean:  1.4814814814814814
Median:  2.0
Mode:  ModeResult(mode=array([0]), count=array([9]))

In [4]:
# Read in the California housing data set from the Resources folder
california_data = pd.read_csv('../Resources/California_Housing.csv')
len(california_data)

3000

In [5]:
# Determine the most appropriate measure of central tendency to describe the Population column
print("Population Mean: ", california_data["Population"].mean())
print("Population Median: ", california_data["Population"].median())
print("Population Mode: ", california_data["Population"].mode())

Population Mean:  1387.9633333333334
Population Median:  1152.5
Population Mode:  0    1128.0
Name: Population, dtype: float64

In [6]:
# Determine if there are any potential outliers in the AveOccup column
avg_occup = california_data["AveOccup"]
Q1 = avg_occup.quantile(0.25)
median = avg_occup.quantile(0.5)
Q3 = avg_occup.quantile(0.75)
IQR = Q3 - Q1

print(f"The lower quartile of occupancy is: {Q1}")
print(f"The upper quartile of occupancy is: {Q3}")
print(f"The interquartile range of occupancy is: {IQR}")
print(f"The the median of occupancy is: {median} ")

lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print(f"Values below {lower_bound} could be outliers.")
print(f"Values above {upper_bound} could be outliers.")

The lower quartile of occupancy is: 2.4250909806040477
The upper quartile of occupancy is: 3.297459274342836
The interquartile range of occupancy is: 0.8723682937387882
The the median of occupancy is: 2.81970199317512
Values below 1.1165385399958654 could be outliers.
Values above 4.606011714951018 could be outliers.

In [7]:
# Create a new DataFrame by filtering the original DataFrame to show only the outliers
outlier_occupancy = california_data.loc[(avg_occup < lower_bound) | (avg_occup > upper_bound)]
outlier_occupancy

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
4,4.0156,35.0,6.195312,1.171875,669.0,5.226562,33.93,-117.41
42,3.6429,26.0,5.836111,1.083333,2171.0,6.030556,38.57,-122.44
72,2.7759,30.0,4.167619,1.059048,2727.0,5.194286,33.83,-118.08
143,3.0509,30.0,5.598131,1.172897,1019.0,4.761682,33.94,-117.40
168,2.6300,29.0,3.496212,1.003788,2576.0,4.878788,33.97,-118.14
...,...,...,...,...,...,...,...,...
2793,2.5556,11.0,5.825112,1.255605,1158.0,5.192825,34.96,-120.45
2849,9.8892,40.0,8.244019,0.995215,976.0,4.669856,37.46,-122.20
2907,4.8750,5.0,7.101721,1.176056,7694.0,6.020344,34.69,-118.20
2919,1.6150,42.0,4.824000,1.216000,1167.0,4.668000,33.96,-118.28
2949,3.2197,17.0,6.537815,0.984874,2791.0,4.690756,32.80,-117.11

In [8]:
# Find the lowest and highest median income in the potential outliers
print(f"The minimum median income of the potential outliers is {outlier_occupancy['MedInc'].min()}")
print(f"The maximum median income of the potential outliers is {outlier_occupancy['MedInc'].max()}")

The minimum median income of the potential outliers is 0.716
The maximum median income of the potential outliers is 15.0001