In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Import the data
df = pd.read_csv("https://static.bc-edx.com/ai/ail-v-1-0/m12/lesson_2/datasets/rent-data-cleaned.csv").dropna()
df.head()

,category,bathrooms,bedrooms,fee,has_photo,pets_allowed,price,price_type,square_feet,cityname,...,Gated,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
2,0,1.0,0.0,0,1,3,1390,0,107,52,...,0,0,0,0,0,0,0,0,0,0
3,0,1.0,0.0,0,1,3,925,0,116,1285,...,0,0,0,0,0,0,0,0,0,0
5,0,1.0,0.0,0,1,4,2475,0,130,821,...,0,0,0,0,0,0,0,0,0,0
8,0,1.0,0.0,0,1,3,1495,0,138,1247,...,0,0,0,0,0,0,0,0,0,0
14,0,1.0,0.0,0,1,3,1695,0,190,1247,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Get the features (everything except the "price" column)
X = df.copy().drop(columns="price")
X.head()

,category,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_type,square_feet,cityname,state,...,Gated,TV,Hot Tub,Tennis,Wood Floors,View,Alarm,Doorman,Luxury,Golf
2,0,1.0,0.0,0,1,3,0,107,52,45,...,0,0,0,0,0,0,0,0,0,0
3,0,1.0,0.0,0,1,3,0,116,1285,47,...,0,0,0,0,0,0,0,0,0,0
5,0,1.0,0.0,0,1,4,0,130,821,34,...,0,0,0,0,0,0,0,0,0,0
8,0,1.0,0.0,0,1,3,0,138,1247,4,...,0,0,0,0,0,0,0,0,0,0
14,0,1.0,0.0,0,1,3,0,190,1247,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Get the target column
y = df["price"].values.reshape(-1,1)
y[0:5]

array([[1390],
       [ 925],
       [2475],
       [1495],
       [1695]])

In [5]:
# Use the Sklearn `train_test_split()` function to split the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [6]:
import statsmodels.api as sm

# Use the statsmodels package to create and fit a linear regression

In [7]:
# Create a variable to hold the p-values of all columns sorted in ascending order

square_feet           3.262020e-121
longitude              1.585794e-74
state                  7.250320e-64
bathrooms              7.174636e-16
bedrooms               2.742050e-14
Elevator               3.509968e-14
Garbage Disposal       2.991748e-08
time                   2.122280e-06
TV                     2.504532e-06
Playground             1.475448e-05
Wood Floors            9.486831e-05
AC                     8.106058e-04
cityname               1.239759e-03
pets_allowed           2.482533e-03
Fireplace              2.773144e-03
Gated                  3.970256e-02
Gym                    7.288410e-02
Clubhouse              8.699262e-02
Basketball             1.358878e-01
category               1.407839e-01
Internet Access        1.485161e-01
View                   1.590230e-01
Storage                1.887752e-01
latitude               1.947154e-01
Doorman                2.343941e-01
Refrigerator           2.404749e-01
Washer Dryer           3.246989e-01
fee                    3.436296e-01
Hot Tub                3.529613e-01
price_type             4.122746e-01
Luxury                 4.818026e-01
Parking                4.939429e-01
Tennis                 5.174837e-01
Dishwasher             5.679051e-01
source                 6.083925e-01
Cable or Satellite     6.405235e-01
has_photo              6.458778e-01
Pool                   6.674284e-01
Alarm                  6.691696e-01
Patio/Deck             7.799202e-01
Golf                   9.176187e-01
dtype: float64

In [8]:
# Use loc to filter to columns with p-values below 0.05

# Show the index of the results

Index(['square_feet', 'longitude', 'state', 'bathrooms', 'bedrooms',
       'Elevator', 'Garbage Disposal', 'time', 'TV', 'Playground',
       'Wood Floors', 'AC', 'cityname', 'pets_allowed', 'Fireplace', 'Gated'],
      dtype='object')

In [9]:
# Create an X variable with all features and another with
# only features that meet the 0.05 threshold.

# Hint: Use the index from the previous cell

In [10]:
# Split the data into training and testing sets

In [11]:
# Train two models using the different X variables

# Create the models


# Fit the models

LinearRegression()

In [12]:
# Provided code to create the adjusted r-squared function
def r2_adj(x, y, model):
    r2 = model.score(x,y)
    n_cols = x.shape[1]
    return 1 - (1 - r2) * (len(y) - 1) / (len(y) - n_cols - 1)

In [13]:
# Compare the adjusted r-squared of the two models

1 Feature Adjusted R2: 0.36459902215185
2 Feature Adjusted R2: 0.36372814836861367