In [1]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Import data
wheat_2018_path = Path('Resources/G20_wheat_production_2018.csv')
wheat_2019_path = Path('Resources/G20_wheat_production_2019.csv')
wheat_2020_path = Path('Resources/G20_wheat_production_2020.csv')

# Read in data 
wheat_2018_df = pd.read_csv(wheat_2018_path)
wheat_2019_df = pd.read_csv(wheat_2019_path)
wheat_2020_df = pd.read_csv(wheat_2020_path)

In [3]:
# Display the 2018 wheat data
wheat_2018_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2018                1.703
1     Canada  Wheat  2018                3.259
2      Japan  Wheat  2018                3.609
3      Korea  Wheat  2018                3.185
4     Mexico  Wheat  2018                5.437

In [4]:
# Display the 2019 wheat data
wheat_2019_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2019                1.625
1     Canada  Wheat  2019                3.348
2      Japan  Wheat  2019                4.036
3      Korea  Wheat  2019                3.195
4     Mexico  Wheat  2019                5.489

In [5]:
# Display the 2020 wheat data
wheat_2020_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2020                1.949
1     Canada  Wheat  2020                3.329
2      Japan  Wheat  2020                4.056
3      Korea  Wheat  2020                3.205
4     Mexico  Wheat  2020                5.513

### Merge the 2018 wheat data with the 2019 wheat data.

In [6]:
# Perform an inner merge that combines the 2018 and 2019 DataFrames on the `Country` column.
merged_2018_2019 = wheat_2018_df.merge(wheat_2019_df, on='Country', how='inner')
merged_2018_2019.head(10)

,Country,Crop_x,Year_x,Value(tonnes of HA)_x,Crop_y,Year_y,Value(tonnes of HA)_y
0,Australia,Wheat,2018,1.703,Wheat,2019,1.625
1,Canada,Wheat,2018,3.259,Wheat,2019,3.348
2,Japan,Wheat,2018,3.609,Wheat,2019,4.036
3,Korea,Wheat,2018,3.185,Wheat,2019,3.195
4,Mexico,Wheat,2018,5.437,Wheat,2019,5.489
5,Turkey,Wheat,2018,2.576,Wheat,2019,2.458
6,United States,Wheat,2018,3.201,Wheat,2019,3.499
7,Argentina,Wheat,2018,3.216,Wheat,2019,3.281
8,Brazil,Wheat,2018,2.517,Wheat,2019,2.638
9,China,Wheat,2018,5.416,Wheat,2019,5.630

In [7]:
# Merge the 2018 and 2019 wheat data with the 2020 wheat data so the 2020 data is added on the right side. 
merged_2018_2020 = merged_2018_2019.merge(wheat_2020_df, on='Country', how='inner')
merged_2018_2020.head(10)

,Country,Crop_x,Year_x,Value(tonnes of HA)_x,Crop_y,Year_y,Value(tonnes of HA)_y,Crop,Year,Value(tonnes of HA)
0,Australia,Wheat,2018,1.703,Wheat,2019,1.625,Wheat,2020,1.949
1,Canada,Wheat,2018,3.259,Wheat,2019,3.348,Wheat,2020,3.329
2,Japan,Wheat,2018,3.609,Wheat,2019,4.036,Wheat,2020,4.056
3,Korea,Wheat,2018,3.185,Wheat,2019,3.195,Wheat,2020,3.205
4,Mexico,Wheat,2018,5.437,Wheat,2019,5.489,Wheat,2020,5.513
5,Turkey,Wheat,2018,2.576,Wheat,2019,2.458,Wheat,2020,2.699
6,United States,Wheat,2018,3.201,Wheat,2019,3.499,Wheat,2020,3.300
7,Argentina,Wheat,2018,3.216,Wheat,2019,3.281,Wheat,2020,3.307
8,Brazil,Wheat,2018,2.517,Wheat,2019,2.638,Wheat,2020,2.765
9,China,Wheat,2018,5.416,Wheat,2019,5.630,Wheat,2020,5.509

In [8]:
# Get the column names.
merged_2018_2020.columns

Index(['Country', 'Crop_x', 'Year_x', 'Value(tonnes of HA)_x', 'Crop_y',
       'Year_y', 'Value(tonnes of HA)_y', 'Crop', 'Year',
       'Value(tonnes of HA)'],
      dtype='object')

In [9]:
# Drop the "Crop_x", "Year_x", "Crop_y", "Year_y", "Crop" and "Year" columns. 
merged_2018_2020_clean = merged_2018_2020.drop(["Crop_x", "Year_x", "Crop_y", "Year_y", "Crop", "Year"], axis=1)
merged_2018_2020_clean

,Country,Value(tonnes of HA)_x,Value(tonnes of HA)_y,Value(tonnes of HA)
0,Australia,1.703,1.625,1.949
1,Canada,3.259,3.348,3.329
2,Japan,3.609,4.036,4.056
3,Korea,3.185,3.195,3.205
4,Mexico,5.437,5.489,5.513
5,Turkey,2.576,2.458,2.699
6,United States,3.201,3.499,3.300
7,Argentina,3.216,3.281,3.307
8,Brazil,2.517,2.638,2.765
9,China,5.416,5.630,5.509
10,India,3.377,3.514,3.450
11,Indonesia,1.000,1.000,1.029
12,Russia,2.646,2.687,2.835
13,Saudi Arabia,5.729,6.364,6.364
14,South Africa,3.711,3.344,3.443
15,United Kingdom,7.755,8.189,8.075

In [10]:
# Rename the remaining columns (Tonnes of Wheat HA)_2018, (Tonnes of Wheat HA)_2019, and (Tonnes of Wheat HA)_2020. 
merged_2018_2020_clean = merged_2018_2020_clean.rename(columns={"Value(tonnes of HA)_x": "(Tonnes of Wheat HA)_2018",
                                                                "Value(tonnes of HA)_y": "(Tonnes of Wheat HA)_2019",
                                                                "Value(tonnes of HA)": "(Tonnes of Wheat HA)_2020"})

# Display the DataFrame
merged_2018_2020_clean.head(10)

,Country,(Tonnes of Wheat HA)_2018,(Tonnes of Wheat HA)_2019,(Tonnes of Wheat HA)_2020
0,Australia,1.703,1.625,1.949
1,Canada,3.259,3.348,3.329
2,Japan,3.609,4.036,4.056
3,Korea,3.185,3.195,3.205
4,Mexico,5.437,5.489,5.513
5,Turkey,2.576,2.458,2.699
6,United States,3.201,3.499,3.300
7,Argentina,3.216,3.281,3.307
8,Brazil,2.517,2.638,2.765
9,China,5.416,5.630,5.509

In [11]:
# Get the columns
merged_2018_2020_clean.columns

Index(['Country', '(Tonnes of Wheat HA)_2018', '(Tonnes of Wheat HA)_2019',
       '(Tonnes of Wheat HA)_2020'],
      dtype='object')

In [12]:
# Sort on the amount of tonnes of wheat for each year and reset the index. 
sorted_by_amount_2018_2020 = merged_2018_2020_clean.sort_values(by=['(Tonnes of Wheat HA)_2018',
                                                                    '(Tonnes of Wheat HA)_2019',
                                                                    '(Tonnes of Wheat HA)_2020'], ascending=False).reset_index(drop=True)

# Display the sorted DataFrame.
sorted_by_amount_2018_2020

,Country,(Tonnes of Wheat HA)_2018,(Tonnes of Wheat HA)_2019,(Tonnes of Wheat HA)_2020
0,United Kingdom,7.755,8.189,8.075
1,Saudi Arabia,5.729,6.364,6.364
2,Mexico,5.437,5.489,5.513
3,China,5.416,5.630,5.509
4,South Africa,3.711,3.344,3.443
5,Japan,3.609,4.036,4.056
6,India,3.377,3.514,3.450
7,Canada,3.259,3.348,3.329
8,Argentina,3.216,3.281,3.307
9,United States,3.201,3.499,3.300
10,Korea,3.185,3.195,3.205
11,Russia,2.646,2.687,2.835
12,Turkey,2.576,2.458,2.699
13,Brazil,2.517,2.638,2.765
14,Australia,1.703,1.625,1.949
15,Indonesia,1.000,1.000,1.029