In [1]:
# Import the required libraries and dependencies.
import pandas as pd

In [11]:
# Read the data from the tsla_historical.csv file into a Pandas DataFrame
df_tsla = pd.read_csv("../Resources/tsla_historical.csv")

In [3]:
# Display the first five rows of the DataFrame
df_tsla.head()

                        time    close
0  2018-01-02 09:30:00-05:00  315.870
1  2018-01-02 09:45:00-05:00  317.500
2  2018-01-02 10:00:00-05:00  318.035
3  2018-01-02 10:15:00-05:00  317.470
4  2018-01-02 10:30:00-05:00  316.875

In [4]:
# Inspect the DataFrame's data types using the info function
df_tsla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    21279 non-null  object
 1   close   21279 non-null  float64
dtypes: float64(1), object(1)
memory usage: 332.6+ KB

In [12]:
df_tsla["time"] = pd.to_datetime(
    df_tsla["time"],
    utc = True    
)

In [ ]:
df_tsla["time"] = pd.to_datetime(
    df_tsla["time"], 
    format='%Y-%m-%d %H:%M:%S%z', 
    utc=True)
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [5]:
# Transform the time column to a datetime data type
df_tsla["time"] = pd.to_datetime(
    df_tsla["time"],
    infer_datetime_format = True,
    utc = True    
)

C:\Users\antho\AppData\Local\Temp\ipykernel_57912\190485422.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_tsla["time"] = pd.to_datetime(

In [6]:
# Display the first five rows of the DataFrame to confirm
# changes to the time column
df_tsla.head()

                       time    close
0 2018-01-02 14:30:00+00:00  315.870
1 2018-01-02 14:45:00+00:00  317.500
2 2018-01-02 15:00:00+00:00  318.035
3 2018-01-02 15:15:00+00:00  317.470
4 2018-01-02 15:30:00+00:00  316.875

In [7]:
# Use the info function to confirm the change in data type 
# for the time column
df_tsla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    21279 non-null  datetime64[ns, UTC]
 1   close   21279 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 332.6 KB

In [8]:
# Convert the time column to the Europe/Berlin timezone
df_tsla["time"] = df_tsla["time"].dt.tz_convert("Europe/Berlin")

In [9]:
# View the first five rows of the DataFrame to confirm the
# conversion of the time column
df_tsla.head()

                       time    close
0 2018-01-02 15:30:00+01:00  315.870
1 2018-01-02 15:45:00+01:00  317.500
2 2018-01-02 16:00:00+01:00  318.035
3 2018-01-02 16:15:00+01:00  317.470
4 2018-01-02 16:30:00+01:00  316.875

In [10]:
# Use the info function to confirm the change in the time zone
# associated with the time column
df_tsla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    21279 non-null  datetime64[ns, Europe/Berlin]
 1   close   21279 non-null  float64
dtypes: datetime64[ns, Europe/Berlin](1), float64(1)
memory usage: 332.6 KB