In [1]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Import data
wheat_2018_path = Path('Resources/G20_wheat_production_2018.csv')
wheat_2019_path = Path('Resources/G20_wheat_production_2019.csv')
wheat_2020_path = Path('Resources/G20_wheat_production_2020.csv')

# Read in data 
wheat_2018_df = pd.read_csv(wheat_2018_path, index_col="Country")
wheat_2019_df = pd.read_csv(wheat_2019_path, index_col="Country")
wheat_2020_df = pd.read_csv(wheat_2020_path, index_col="Country")

In [3]:
# Display the 2018 wheat data
wheat_2018_df.head()

            Crop  Year  Value(tonnes of HA)
Country
Australia  Wheat  2018                1.703
Canada     Wheat  2018                3.259
Japan      Wheat  2018                3.609
Korea      Wheat  2018                3.185
Mexico     Wheat  2018                5.437

In [4]:
# Display the 2019 wheat data
wheat_2019_df.head()

            Crop  Year  Value(tonnes of HA)
Country
Australia  Wheat  2019                1.625
Canada     Wheat  2019                3.348
Japan      Wheat  2019                4.036
Korea      Wheat  2019                3.195
Mexico     Wheat  2019                5.489

In [5]:
# Display the 2020 wheat data
wheat_2020_df.head()

            Crop  Year  Value(tonnes of HA)
Country
Australia  Wheat  2020                1.949
Canada     Wheat  2020                3.329
Japan      Wheat  2020                4.056
Korea      Wheat  2020                3.205
Mexico     Wheat  2020                5.513

### Join the 2018 wheat data with the 2019 wheat data.

In [6]:
# Join the 2018 and 2019 wheat data where the left suffix is 2019 and right suffix is 2018. 
wheat_2018_19_data = wheat_2019_df.join(wheat_2018_df, lsuffix='_2019', rsuffix='_2018')
wheat_2018_19_data

,Crop_2019,Year_2019,Value(tonnes of HA)_2019,Crop_2018,Year_2018,Value(tonnes of HA)_2018
Country,,,,,,
Australia,Wheat,2019,1.625,Wheat,2018,1.703
Canada,Wheat,2019,3.348,Wheat,2018,3.259
Japan,Wheat,2019,4.036,Wheat,2018,3.609
Korea,Wheat,2019,3.195,Wheat,2018,3.185
Mexico,Wheat,2019,5.489,Wheat,2018,5.437
Turkey,Wheat,2019,2.458,Wheat,2018,2.576
United States,Wheat,2019,3.499,Wheat,2018,3.201
Argentina,Wheat,2019,3.281,Wheat,2018,3.216
Brazil,Wheat,2019,2.638,Wheat,2018,2.517
China,Wheat,2019,5.630,Wheat,2018,5.416
India,Wheat,2019,3.514,Wheat,2018,3.377
Indonesia,Wheat,2019,1.000,Wheat,2018,1.000
Russia,Wheat,2019,2.687,Wheat,2018,2.646
Saudi Arabia,Wheat,2019,6.364,Wheat,2018,5.729
South Africa,Wheat,2019,3.344,Wheat,2018,3.711
United Kingdom,Wheat,2019,8.189,Wheat,2018,7.755

In [7]:
#  Join the 2018 and 2019 wheat data with the 2020 wheat data and add the suffix, '_2020' to the 2020 data. 
all_wheat_data = wheat_2020_df.add_suffix('_2020').join(wheat_2018_19_data)
all_wheat_data

,Crop_2020,Year_2020,Value(tonnes of HA)_2020,Crop_2019,Year_2019,Value(tonnes of HA)_2019,Crop_2018,Year_2018,Value(tonnes of HA)_2018
Country,,,,,,,,,
Australia,Wheat,2020,1.949,Wheat,2019,1.625,Wheat,2018,1.703
Canada,Wheat,2020,3.329,Wheat,2019,3.348,Wheat,2018,3.259
Japan,Wheat,2020,4.056,Wheat,2019,4.036,Wheat,2018,3.609
Korea,Wheat,2020,3.205,Wheat,2019,3.195,Wheat,2018,3.185
Mexico,Wheat,2020,5.513,Wheat,2019,5.489,Wheat,2018,5.437
Turkey,Wheat,2020,2.699,Wheat,2019,2.458,Wheat,2018,2.576
United States,Wheat,2020,3.300,Wheat,2019,3.499,Wheat,2018,3.201
Argentina,Wheat,2020,3.307,Wheat,2019,3.281,Wheat,2018,3.216
Brazil,Wheat,2020,2.765,Wheat,2019,2.638,Wheat,2018,2.517
China,Wheat,2020,5.509,Wheat,2019,5.630,Wheat,2018,5.416
India,Wheat,2020,3.450,Wheat,2019,3.514,Wheat,2018,3.377
Indonesia,Wheat,2020,1.029,Wheat,2019,1.000,Wheat,2018,1.000
Russia,Wheat,2020,2.835,Wheat,2019,2.687,Wheat,2018,2.646
Saudi Arabia,Wheat,2020,6.364,Wheat,2019,6.364,Wheat,2018,5.729
South Africa,Wheat,2020,3.443,Wheat,2019,3.344,Wheat,2018,3.711
United Kingdom,Wheat,2020,8.075,Wheat,2019,8.189,Wheat,2018,7.755

In [8]:
# Alternative method to joining DataFrames.

# Add the '_2018' &  '_2019' suffixes to the 2018 and 2019 data.
wheat_2018_2019 = [wheat_2019_df.add_suffix('_2019'),wheat_2018_df.add_suffix('_2018')]

# Add '_2020' suffix to the 2020 data and join the 2018 and 2019 data. 
all_wheat_data = wheat_2020_df.add_suffix('_2020').join(wheat_2018_2019)
all_wheat_data

,Crop_2020,Year_2020,Value(tonnes of HA)_2020,Crop_2019,Year_2019,Value(tonnes of HA)_2019,Crop_2018,Year_2018,Value(tonnes of HA)_2018
Country,,,,,,,,,
Australia,Wheat,2020,1.949,Wheat,2019,1.625,Wheat,2018,1.703
Canada,Wheat,2020,3.329,Wheat,2019,3.348,Wheat,2018,3.259
Japan,Wheat,2020,4.056,Wheat,2019,4.036,Wheat,2018,3.609
Korea,Wheat,2020,3.205,Wheat,2019,3.195,Wheat,2018,3.185
Mexico,Wheat,2020,5.513,Wheat,2019,5.489,Wheat,2018,5.437
Turkey,Wheat,2020,2.699,Wheat,2019,2.458,Wheat,2018,2.576
United States,Wheat,2020,3.300,Wheat,2019,3.499,Wheat,2018,3.201
Argentina,Wheat,2020,3.307,Wheat,2019,3.281,Wheat,2018,3.216
Brazil,Wheat,2020,2.765,Wheat,2019,2.638,Wheat,2018,2.517
China,Wheat,2020,5.509,Wheat,2019,5.630,Wheat,2018,5.416
India,Wheat,2020,3.450,Wheat,2019,3.514,Wheat,2018,3.377
Indonesia,Wheat,2020,1.029,Wheat,2019,1.000,Wheat,2018,1.000
Russia,Wheat,2020,2.835,Wheat,2019,2.687,Wheat,2018,2.646
Saudi Arabia,Wheat,2020,6.364,Wheat,2019,6.364,Wheat,2018,5.729
South Africa,Wheat,2020,3.443,Wheat,2019,3.344,Wheat,2018,3.711
United Kingdom,Wheat,2020,8.075,Wheat,2019,8.189,Wheat,2018,7.755

### Join the data without setting the `index_col` parameter to "Country".

In [9]:
# Read in the 2018 and 2019 data without setting the "index_col" parameter to the "Country"
wheat_2018_df = pd.read_csv(wheat_2018_path)
wheat_2019_df = pd.read_csv(wheat_2019_path)
wheat_2020_df = pd.read_csv(wheat_2020_path)

In [10]:
# Display the 2018 wheat data
wheat_2018_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2018                1.703
1     Canada  Wheat  2018                3.259
2      Japan  Wheat  2018                3.609
3      Korea  Wheat  2018                3.185
4     Mexico  Wheat  2018                5.437

In [11]:
# Display the 2019 wheat data
wheat_2019_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2019                1.625
1     Canada  Wheat  2019                3.348
2      Japan  Wheat  2019                4.036
3      Korea  Wheat  2019                3.195
4     Mexico  Wheat  2019                5.489

In [12]:
# Display the 2020 wheat data
wheat_2020_df.head()

     Country   Crop  Year  Value(tonnes of HA)
0  Australia  Wheat  2020                1.949
1     Canada  Wheat  2020                3.329
2      Japan  Wheat  2020                4.056
3      Korea  Wheat  2020                3.205
4     Mexico  Wheat  2020                5.513

In [13]:
# Combine the 2018 and 2019 DataFrames by setting the index to the "Country" and "Crop" columns 
# Then perform an inner join on the "Country" and "Crop" columns.
# Add the _2019 and _2018 suffixes to the appropriate columns. 
inner_joined_2018_2019_data = wheat_2019_df.join(
    wheat_2018_df.set_index(["Country", "Crop"]),
    on=["Country", "Crop"],
    how="inner",
    lsuffix="_2019",
    rsuffix="_2018")

# Display the DataFrame
inner_joined_2018_2019_data

,Country,Crop,Year_2019,Value(tonnes of HA)_2019,Year_2018,Value(tonnes of HA)_2018
0,Australia,Wheat,2019,1.625,2018,1.703
1,Canada,Wheat,2019,3.348,2018,3.259
2,Japan,Wheat,2019,4.036,2018,3.609
3,Korea,Wheat,2019,3.195,2018,3.185
4,Mexico,Wheat,2019,5.489,2018,5.437
5,Turkey,Wheat,2019,2.458,2018,2.576
6,United States,Wheat,2019,3.499,2018,3.201
7,Argentina,Wheat,2019,3.281,2018,3.216
8,Brazil,Wheat,2019,2.638,2018,2.517
9,China,Wheat,2019,5.630,2018,5.416
10,India,Wheat,2019,3.514,2018,3.377
11,Indonesia,Wheat,2019,1.000,2018,1.000
12,Russia,Wheat,2019,2.687,2018,2.646
13,Saudi Arabia,Wheat,2019,6.364,2018,5.729
14,South Africa,Wheat,2019,3.344,2018,3.711
15,United Kingdom,Wheat,2019,8.189,2018,7.755

In [14]:
# How would you add the 2020 DataFrame to the 2018-2019 inner join DataFrame?
# Combine the DataFrames by setting the index to the "Country" and "Crop" columns 
# Then perform an inner join on the "Country" and "Crop" columns.
inner_joined_2018_2020_data = wheat_2020_df.join(
    inner_joined_2018_2019_data.set_index(["Country", "Crop"]),
    on=["Country", "Crop"],
    how="inner")

# Display the DataFrame
inner_joined_2018_2020_data

,Country,Crop,Year,Value(tonnes of HA),Year_2019,Value(tonnes of HA)_2019,Year_2018,Value(tonnes of HA)_2018
0,Australia,Wheat,2020,1.949,2019,1.625,2018,1.703
1,Canada,Wheat,2020,3.329,2019,3.348,2018,3.259
2,Japan,Wheat,2020,4.056,2019,4.036,2018,3.609
3,Korea,Wheat,2020,3.205,2019,3.195,2018,3.185
4,Mexico,Wheat,2020,5.513,2019,5.489,2018,5.437
5,Turkey,Wheat,2020,2.699,2019,2.458,2018,2.576
6,United States,Wheat,2020,3.300,2019,3.499,2018,3.201
7,Argentina,Wheat,2020,3.307,2019,3.281,2018,3.216
8,Brazil,Wheat,2020,2.765,2019,2.638,2018,2.517
9,China,Wheat,2020,5.509,2019,5.630,2018,5.416
10,India,Wheat,2020,3.450,2019,3.514,2018,3.377
11,Indonesia,Wheat,2020,1.029,2019,1.000,2018,1.000
12,Russia,Wheat,2020,2.835,2019,2.687,2018,2.646
13,Saudi Arabia,Wheat,2020,6.364,2019,6.364,2018,5.729
14,South Africa,Wheat,2020,3.443,2019,3.344,2018,3.711
15,United Kingdom,Wheat,2020,8.075,2019,8.189,2018,7.755