In [ ]:
# List of lists example
table_data = [
    ["Ticker", "Open", "Close"],
    ["AAPL", 363.25, 363.4],
    ["AMZN", 2756.0, 2757.99],
    ["GOOG", 1409.1, 1408.2]
]

In [ ]:
# Access the Amazon data

In [ ]:

# Get the Amazon opening price

In [ ]:

# Combine the previous 2 steps

In [ ]:

# Print out the ticker data by row

In [ ]:

# List of dictionaries example
table_data = [
    {
        "Ticker": "AAPL",
        "Open": 363.25,
        "Close": 363.4
    },
    {
        "Ticker": "AMZN",
        "Open": 2756.0,
        "Close": 2757.99
    },
    {
        "Ticker": "GOOG",
        "Open": 1409.1,
        "Close": 1408.2
    }
]

In [ ]:
# Print out each dictionary in the list

In [ ]:

# Print out just the ticker value in each dictionary in the list