In [ ]:
# Declare variables
x = 1
y = 10

In [ ]:
# Logical operators: "and" and "or"

In [ ]:
# Check for two conditions to be met using "and"

In [ ]:

# Check if either of two conditions is met using "or"

In [ ]:

# Check if a condition is not true

In [ ]:

# Check multiple conditions

In [ ]:

# Conditionals with membership operators: "in" and "not in"

In [ ]:
# Check if a variable is in a list
name = "Amidah"
group_one = ["Jorge", "Joon", "Susan"]
group_two = ["Gerald", "Paola", "Ryder"]
group_three = ["Farah", "Amidah", "Koen"]

In [ ]:
# Check if a variable is not in a list
countries = ["Fiji", "Australia", "New Zealand", "Papua New Guinea", "Palau"
             "Solomon Islands", "Micronesia", "Vanuatu", "Samoa", "Kiribati",
             "Tonga", "Marshall Islands", "Tuvalu", "Nauru"]
country = "Kenya"

In [ ]:
# Conditionals with identity operators: "is" and "is not"

In [ ]:
# Check if a variable is a list

In [ ]:

# Check if a variable is not a list

In [ ]:

# Check if a variable is a float or integer

In [ ]:

# Check multiple conditions with comparison and logical operators
height = 66
age = 16
adult_permission = True