In [ ]:
# Loop through a range of numbers (0 through 4)

In [ ]:

print("-" * 40)

In [ ]:
# Loop through a range of numbers (2 through 6 - yes 6! Up to, but not
# including, 7)

In [ ]:

print("-" * 40)

In [ ]:
# Loop through a range of numbers (0 through 4) without using the value in the
# range

In [ ]:
    # Add 2 to the value of y

In [ ]:

print("-" * 40)

In [ ]:
# Iterate through letters in a string

In [ ]:

print("-" * 40)

In [ ]:
# Iterate through a list

In [ ]:

print("-" * 40)

In [ ]:
# Make changes to each item in a list

In [ ]:

print("-" * 40)

In [ ]:
# Loop while a condition is being met
run = "y"

In [ ]:
# run.lower() means the condition will be met if run = "y" or run = "Y"

In [ ]:

# While loop with a Boolean variable