In [2]:
# Dependencies
import pandas as pd

In [3]:
# Read in the LAX temperatures dataset and create a box plot

0    52
1    51
2    52
3    49
4    43
Name: HourlyDryBulbTemperature, dtype: int64

In [4]:
# Use pandas to find potential outliers by calculating the interquartile range (IQR)

The lower quartile of temperatures is: 54.0
The upper quartile of temperatures is: 60.0
The interquartile range of temperatures is: 6.0
The the median of temperatures is: 57.0
Values below 45.0 could be outliers.
Values above 69.0 could be outliers.

In [7]:
# Create a DataFrame of rows that could be outliers

         STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
4    72295023174  2019-01-01T03:53:00       FM-15                        43
5    72295023174  2019-01-01T04:00:00       FM-12                        43
8    72295023174  2019-01-01T06:53:00       FM-15                        44
35   72295023174  2019-01-02T05:53:00       FM-15                        40
245  72295023174  2019-01-08T12:53:00       FM-15                        70

In [6]:
# How many potential outliers are there in the dataset?

153