In [1]:
# Import the necessary dependencies
import pandas as pd

In [2]:
# Read in the data as a DataFrame
# Provide the dataset URL from an AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get the columns
delayed_flights_df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [4]:
# Create a custom function that will calculate the average of DataFrame column
def custom_avg(x):
    return x.mean()

# Use the custom_avg function to show the average arrival delay 
# for each carrier, for the day of the month, and day of the week. Round to one decimal place. 
delayed_flights_avg = pd.pivot_table(delayed_flights_df, 
                                   index=['UniqueCarrier','DayofMonth', 'DayOfWeek' ],
                                   values='ArrDelay',
                                   aggfunc=custom_avg).round(1)


# Rename the column to reflect the aggregation. 
delayed_flights_avg = delayed_flights_avg.rename(columns={'ArrDelay': 'Avg. Arrival Delay'})

# Sort the pivot table to show the top 25 largest average arrival delay by carrier, day of the month, and day of the week.
delayed_flights_avg.sort_values(by=['Avg. Arrival Delay'], ascending=False).head(25)

                                    Avg. Arrival Delay
UniqueCarrier DayofMonth DayOfWeek
HA            28         5                       181.5
              24         6                       138.0
              6          4                       136.3
B6            8          6                       135.4
CO            18         2                       128.1
EV            17         7                       120.2
YV            12         2                       117.6
DL            17         7                       116.1
OH            8          6                       112.8
FL            17         7                       112.3
YV            26         2                       111.7
EV            4          2                       110.8
B6            27         2                       108.7
AA            27         2                       108.7
OH            31         6                       108.3
B6            13         3                       107.8
              31         6                       107.2
EV            4          5                       105.9
YV            31         1                       105.1
B6            1          5                       104.2
OH            12         2                       102.7
B6            26         2                       100.7
              11         5                        99.8
XE            18         2                        98.8
B6            28         1                        98.2

In [5]:
# Use the custom_avg function to show the average delay of arrivals and departures
# for each carrier, day of the months and day of the week. Round to one decimal place. 
flights_arrival_dept_delay = pd.pivot_table(delayed_flights_df, 
                                   index=['UniqueCarrier','DayofMonth', 'DayOfWeek' ],
                                   values=["ArrDelay", "DepDelay"],
                                   aggfunc=custom_avg).round(1)


# Rename the columns to reflect the aggregation. 
flights_arrival_dept_delay = flights_arrival_dept_delay.rename(columns={'ArrDelay': 'Avg. Arrival Delay',
                                                                       "DepDelay": 'Avg. Dept. Delay'})

# Sort the pivot table to show the greatest average arrival and departures delays
# by carrier, day of the months and day of the week. Show the top 25 results
flights_arrival_dept_delay.sort_values(by=['Avg. Arrival Delay','Avg. Dept. Delay' ], ascending=False).head(25)

                                    Avg. Arrival Delay  Avg. Dept. Delay
UniqueCarrier DayofMonth DayOfWeek
HA            28         5                       181.5             186.4
              24         6                       138.0             141.0
              6          4                       136.3             130.3
B6            8          6                       135.4             125.4
CO            18         2                       128.1             123.1
EV            17         7                       120.2             116.3
YV            12         2                       117.6             107.9
DL            17         7                       116.1             108.9
OH            8          6                       112.8              94.1
FL            17         7                       112.3             103.1
YV            26         2                       111.7             105.1
EV            4          2                       110.8             103.9
B6            27         2                       108.7             102.7
AA            27         2                       108.7             101.2
OH            31         6                       108.3              98.0
B6            13         3                       107.8             108.9
              31         6                       107.2              92.2
EV            4          5                       105.9              98.0
YV            31         1                       105.1             100.4
B6            1          5                       104.2              99.4
OH            12         2                       102.7              81.1
B6            26         2                       100.7              88.7
              11         5                        99.8              90.7
XE            18         2                        98.8             105.1
B6            28         1                        98.2             101.3

In [6]:
# Show the bottom 25 results.
flights_arrival_dept_delay.sort_values(by=['Avg. Arrival Delay','Avg. Dept. Delay' ]).head(25)

                                    Avg. Arrival Delay  Avg. Dept. Delay
UniqueCarrier DayofMonth DayOfWeek
HA            9          1                       -10.0               7.0
AQ            13         3                        -7.1              20.5
              20         7                        -3.0               7.0
HA            23         6                        -0.3               9.3
AQ            19         2                         0.7              15.8
              18         1                         1.0              14.8
              17         7                         1.7              13.0
              31         4                         2.3              11.0
              20         3                         2.8              10.5
              3          7                         2.8              12.8
              7          1                         3.2              16.1
HA            12         3                         4.3              27.3
AQ            29         5                         5.0               8.0
HA            8          4                         5.8               8.0
AQ            24         4                         6.7               9.7
              4          1                         6.7              10.0
              16         6                         6.9              15.2
              8          5                         7.7              11.6
              22         2                         7.8              10.0
CO            25         7                         7.9              19.6
HA            10         7                         8.1              16.3
              13         2                         8.2              13.2
              15         5                         8.2              14.8
AQ            28         4                         8.3              23.7
HA            21         5                         8.8               8.3

In [7]:
# Create a custom function that calculates the total of a DataFrame column.
def custom_sum(x):
    return x.sum()

In [8]:
# Show the total and average number of flights that were diverted for each carrier, the origin, and destination.
# Use the custom functions you created above.
total_avg_diverted = pd.pivot_table(delayed_flights_df, 
                                   index=['UniqueCarrier',"Origin","Dest"],
                                   values="Diverted",
                                   aggfunc=(custom_sum, custom_avg))


# Rename the columns to reflect the results. 
total_avg_diverted = total_avg_diverted.rename(columns={'custom_sum': 'Total_Diverted',
                                                        'custom_avg': 'Avg_Diverted'})

total_avg_diverted

# Sort the pivot table to show the greatest average and number of diverted flights
# for each carrier, the origin, and destination.. Show the top 25 results
total_avg_diverted.sort_values(by=['Total_Diverted','Avg_Diverted' ], ascending=False).head(25)

                           Avg_Diverted  Total_Diverted
UniqueCarrier Origin Dest
WN            DAL    HOU       0.012432              23
AA            DFW    LGA       0.016693              21
B6            BUR    JFK       0.118421              18
9E            HLN    MSP       0.278689              17
AA            BUR    DFW       0.070796              16
OO            SLC    GJT       0.177215              14
WN            HRL    HOU       0.023569              14
              HOU    DAL       0.007110              14
OO            ORD    DEN       0.857143              12
AA            MIA    LGA       0.014252              12
              ORD    LGA       0.009238              12
WN            MCI    MDW       0.013532              10
              LAS    MDW       0.013175              10
AA            LGA    DFW       0.011806              10
UA            ORD    LGA       0.008368              10
AS            OTZ    OME       0.107143               9
UA            ORD    SNA       0.029221               9
DL            HDN    ATL       0.195122               8
AS            SIT    JNU       0.102564               8
AA            SAN    ORD       0.024024               8
AS            SEA    SFO       0.022346               8
DL            ATL    DFW       0.019753               8
AA            PHX    ORD       0.019093               8
WN            CMH    MDW       0.018433               8
DL            ATL    LGA       0.009302               8