In [1]:
# Import dependencies
import requests
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables and OpenWeather API key
load_dotenv()
api_key = os.getenv("WEATHER_API_KEY")

In [2]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL

In [3]:
# Get weather data


# Get the temperature from the response

The weather API responded with: {'coord': {'lon': -0.1257, 'lat': 51.5085}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 19.11, 'feels_like': 19.06, 'temp_min': 16.17, 'temp_max': 20.56, 'pressure': 1017, 'humidity': 76}, 'visibility': 10000, 'wind': {'speed': 4.63, 'deg': 240}, 'clouds': {'all': 97}, 'dt': 1692131706, 'sys': {'type': 2, 'id': 2075535, 'country': 'GB', 'sunrise': 1692074727, 'sunset': 1692127496}, 'timezone': 3600, 'id': 2643743, 'name': 'London', 'cod': 200}.

In [4]:
# List of cities


# set up lists to hold response info


# Loop through the list of cities and perform a request for data on each

The latitude information received is: [48.8534, 51.5085, 59.9127, 39.9075]
The temperature information received is: [20.95, 19.11, 17.89, 25.94]

In [5]:
# create a DataFrame from cities, lat, and temp

      city      lat   temp
0    Paris  48.8534  20.95
1   London  51.5085  19.11
2     Oslo  59.9127  17.89
3  Beijing  39.9075  25.94