In [1]:
# Import nltk, numpy and pandas.
import nltk
import numpy as np
import pandas as pd
# Import Reuters
from nltk.corpus import reuters
# Import CountVectorizer, TfidfVectorizer from sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Download the Reuters dataset if you didn't install it.
# nltk.download("reuters")

In [2]:
# Get the categories

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [3]:
# Count the total number of documents in the collection

# Retrieve the number of documents in the corpus.
print(f"Total number of docs in the corpus: {len(doc_ids)}")

Total number of docs in the corpus: 10788

## Count the occurrence of each word in the text.

In [4]:
# Select and print a single document of text.

JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWARDS
  The Ministry of International Trade and
  Industry (MITI) will revise its long-term energy supply/demand
  outlook by August to meet a forecast downtrend in Japanese
  energy demand, ministry officials said.
      MITI is expected to lower the projection for primary energy
  supplies in the year 2000 to 550 mln kilolitres (kl) from 600
  mln, they said.
      The decision follows the emergence of structural changes in
  Japanese industry following the rise in the value of the yen
  and a decline in domestic electric power demand.
      MITI is planning to work out a revised energy supply/demand
  outlook through deliberations of committee meetings of the
  Agency of Natural Resources and Energy, the officials said.
      They said MITI will also review the breakdown of energy
  supply sources, including oil, nuclear, coal and natural gas.
      Nuclear energy provided the bulk of Japan's electric power
  in the fiscal year ended March 31, supplying an estimated 27
  pct on a kilowatt/hour basis, followed by oil (23 pct) and
  liquefied natural gas (21 pct), they noted.

In [5]:
# Create an instance of the CountVectorizer and define the English stopwords to be ignored.


# Tokenize the text into numerical features and occurrence of each word.

In [6]:
# X contains the occurrence of each term in the document.
# We have 1 document, the first number in the tuple represents the document number, i.e., 0.
# The second number in the tuple represents the index of the word in the vocabulary created by fit_transform.
# The last number represents how many times the word appears.

  (0, 38)	2
  (0, 66)	2
  (0, 44)	2
  (0, 75)	2
  (0, 25)	8
  (0, 18)	5
  (0, 21)	1
  (0, 49)	2
  (0, 37)	1
  (0, 76)	1
  (0, 36)	2
  (0, 50)	4
  (0, 73)	3
  (0, 57)	2
  (0, 8)	1
  (0, 47)	1
  (0, 32)	1
  (0, 20)	1
  (0, 39)	2
  (0, 55)	2
  (0, 69)	4
  (0, 27)	1
  (0, 45)	1
  (0, 62)	1
  (0, 61)	1
  :	:
  (0, 10)	1
  (0, 70)	1
  (0, 35)	1
  (0, 56)	2
  (0, 54)	2
  (0, 13)	1
  (0, 33)	2
  (0, 63)	1
  (0, 11)	1
  (0, 28)	1
  (0, 24)	1
  (0, 46)	1
  (0, 4)	1
  (0, 74)	1
  (0, 26)	1
  (0, 3)	1
  (0, 58)	3
  (0, 41)	1
  (0, 34)	1
  (0, 9)	1
  (0, 29)	1
  (0, 2)	1
  (0, 43)	1
  (0, 1)	1
  (0, 53)	1

In [7]:
# Retrieve unique words list

['2000' '21' '23' '27' '31' '550' '600' 'agency' 'august' 'basis'
 'breakdown' 'bulk' 'changes' 'coal' 'committee' 'decision' 'decline'
 'deliberations' 'demand' 'domestic' 'downtrend' 'downwards' 'electric'
 'emergence' 'ended' 'energy' 'estimated' 'expected' 'fiscal' 'followed'
 'following' 'follows' 'forecast' 'gas' 'hour' 'including' 'industry'
 'international' 'japan' 'japanese' 'kilolitres' 'kilowatt' 'kl'
 'liquefied' 'long' 'lower' 'march' 'meet' 'meetings' 'ministry' 'miti'
 'mln' 'natural' 'noted' 'nuclear' 'officials' 'oil' 'outlook' 'pct'
 'planning' 'power' 'primary' 'projection' 'provided' 'resources' 'review'
 'revise' 'revised' 'rise' 'said' 'sources' 'structural' 'supplies'
 'supply' 'supplying' 'term' 'trade' 'value' 'work' 'year' 'yen']

In [8]:
# Get the length of the words and find a specific word or term.

81
energy

In [9]:
# Print the number of times each word appears from the document.

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 5 1 1 1 2 1 1 8 1 1 1 1 1 1 1 2 1 1 2
 1 2 2 1 1 1 1 2 1 1 1 1 2 4 2 3 1 2 2 2 2 3 1 2 1 1 1 1 1 2 1 1 4 1 1 1 3
 1 2 1 1 1 2 1]

In [10]:
# Convert the sparse matrix to a DataFrame to get our Bag-of-Words for the document. 



# Display some first 20 columns of the DataFrame.

,2000,21,23,27,31,550,600,agency,august,basis,breakdown,bulk,changes,coal,committee,decision,decline,deliberations,demand,domestic
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,5,1

In [11]:
# Melt the Bag-of-Words DataFrame to convert columns into rows.

   Word  Word_Counts
0  2000            1
1    21            1
2    23            1
3    27            1
4    31            1

In [12]:
# Sort the DataFrame by Word_Counts if needed

     Word  Word_Counts
0  energy            8
1  demand            5
2    miti            4
3    said            4
4  supply            3

In [13]:
# Alternatively you can do the following:
# Create a list to hold the words using the vectorizer.get_feature_names_out()
words = list(vectorizer.get_feature_names_out())
# Create a list to hold the frequency using np.ravel(X.sum(axis=0))
frequency = list(np.ravel(X.sum(axis=0)))

# Create a DataFrame of the TF–IDF weights for each word in the working corpus.
words_df = pd.DataFrame({
  "Word": words,
  "Word_Count": frequency})

# Alternatively you can use:
# words_df = pd.DataFrame(list(zip(words, np.ravel(X.sum(axis=0)))), columns=["Word", "Word_Count"])

# Sort the DataFrame on the Word_Count in descending order and reset the index.
sorted_words= words_df.sort_values(by=["Word_Count"], ascending=False).reset_index(drop=True)
sorted_words.head()

     Word  Word_Count
0  energy           8
1  demand           5
2    miti           4
3    said           4
4  supply           3

## Calculate the TF-IDF score from a Corpus of Documents.

In [14]:
# Getting the first 1000 articles from Reuters.


# Print sample document
print(corpus[50])

NICKEL PRICES UNLIKELY TO RISE MUCH - SHEARSON
  Nickel prices are unlikely to rise
  significantly from current levels unless further steps are
  taken to reduce production, Shearson Lehman Brothers said in
  its quarterly nickel market report.
      The market had recovered slightly to around 1.72 dlrs a lb
  yesterday from its four year low of 1.55 dlrs in early January,
  due to the absence of Soviet nickel cathode deliveries, but
  Shearson sees Soviet shipments soon returning to last year's
  buoyant levels, which should ease current tightness.
      Output reductions by producers will take effect later this
  year but are likely to be offset by increases elsewhere.
      Shearson said the nickel market will be virtually in
  balance during 1987, with total non-Socialist world demand at
  556,000 tonnes, compared with an estimated 544,000 tonnes in
  1986, production at 505,000 tonnes (504,000) and imports from
  Socialist countries at 47,000 tonnes (50,000).
      It forecast prices will edge higher during the year from a
  first quarter average of 1.67 dlrs a lb up to 1.77 dlrs in the
  last quarter. The year's average will be around 1.72 dlrs a lb
  compared with 1.76 dlrs in 1986, using London Metal Exchange
  cash metal prices in dollar terms and assuming an average 1987
  sterling exchange rate of 1.55 dlrs.

In [15]:
# Create an instance of the TfidfVectorizer and define the English stopwords to be ignored.

# Tokenize the 1,000 articles into numerical features.

In [16]:
# Print the sparse matrix of the transformed data.
# We have 1,000 documents, the first number in the tuple represents the document number.
# The second number in the tuple represents the index of the word in the vocabulary created by fit_transform.
# The last number represents the value of the TF-IDF score for the vocabulary word.

  (0, 3653)	0.02349374154800046
  (0, 3572)	0.03401531227145892
  (0, 9282)	0.023258637913775613
  (0, 9251)	0.02895058701961889
  (0, 5736)	0.031788665087932794
  (0, 5876)	0.04269766365167542
  (0, 5004)	0.023820462234420314
  (0, 5281)	0.04421016230849752
  (0, 5595)	0.04421016230849752
  (0, 8051)	0.03951191235503727
  (0, 5798)	0.03799941369821516
  (0, 7395)	0.04041700708351447
  (0, 3186)	0.07352722462649618
  (0, 6900)	0.03152282152841889
  (0, 7263)	0.03871356222491918
  (0, 4079)	0.031267012229669745
  (0, 1746)	0.04890841226195779
  (0, 6009)	0.04890841226195779
  (0, 9449)	0.04890841226195779
  (0, 6839)	0.03571875713005421
  (0, 3204)	0.029906837778906972
  (0, 8301)	0.036221071481879155
  (0, 5719)	0.03951191235503727
  (0, 3623)	0.04146186226670836
  (0, 8287)	0.04890841226195779
  :	:
  (999, 6787)	0.1736525446693858
  (999, 7495)	0.23299949141320167
  (999, 7225)	0.11157842602334767
  (999, 6428)	0.09972089581992195
  (999, 2491)	0.36059064178695793
  (999, 7187)	0.0868262723346929
  (999, 6128)	0.21786500994836008
  (999, 3290)	0.09278468529974941
  (999, 9194)	0.2991626874597659
  (999, 2612)	0.06803253161109464
  (999, 2599)	0.06871689487013131
  (999, 3399)	0.07955788050295924
  (999, 7896)	0.21891398032127124
  (999, 1191)	0.07399094457615113
  (999, 2186)	0.06643260003988806
  (999, 1531)	0.0789122642594043
  (999, 9100)	0.07447285813485559
  (999, 336)	0.05850728168318139
  (999, 4516)	0.07176615171901617
  (999, 7887)	0.1457422677413932
  (999, 6495)	0.03859748439867078
  (999, 8308)	0.05397476964595436
  (999, 5538)	0.05501440772298913
  (999, 3391)	0.03399422859269563
  (999, 7680)	0.02586249006570441

In [17]:
# Get the matrix info.
print(f"Matrix shape: {}")
print(f"Total number of documents: {}")
print(f"Total number of unique words (tokens): {}")

Matrix shape: (1000, 9489)
Total number of documents: 1000
Total number of unique words (tokens): 9489

In [18]:
# Retrieve words list from corpus

['00' '000' '0000' ... 'zones' 'zurich' 'zy']

In [19]:
# Get the TF-IDF weights of each word in corpus as DataFrame


# Sort the DataFrame to show the top TF-IDF values.


# Highest 10 TF-IDF scores

   Word    TF-IDF
0    vs  0.079701
1   mln  0.061460
2   cts  0.051221
3   000  0.047185
4  said  0.045466
5   net  0.038892
6  dlrs  0.038615
7   pct  0.028682
8   shr  0.027749
9    lt  0.027100

In [20]:
# Lowest 10 TF-IDF scores

              Word    TF-IDF
9479       denotes  0.000005
9480  modification  0.000005
9481        bulgur  0.000005
9482       cracked  0.000005
9483           019  0.000005
9484           302  0.000005
9485           893  0.000005
9486           927  0.000005
9487           076  0.000005
9488        rolled  0.000005