In [1]:
# Import the data
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score

df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m14/datasets/bank_marketing.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,NaN,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,NaN,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,NaN,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,NaN,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,NaN,0,NaN,no

In [2]:
# Drop rows with null values
df_clean = df.dropna().copy()

# Convert y to numeric
df_clean['y'] = pd.get_dummies(df_clean['y'], drop_first = True)

# Drop all non-numeric columns
df_clean = df_clean.select_dtypes(include='number')

# Verify changes with the info method
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7842 entries, 24060 to 45210
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       7842 non-null   int64
 1   balance   7842 non-null   int64
 2   day       7842 non-null   int64
 3   duration  7842 non-null   int64
 4   campaign  7842 non-null   int64
 5   pdays     7842 non-null   float64
 6   previous  7842 non-null   int64
 7   y         7842 non-null   uint8
dtypes: float64(1), int64(6), uint8(1)
memory usage: 497.8 KB

In [3]:
# Setup X and y variables
X = df_clean.drop(columns='y')
y = df_clean['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [ ]:
# Create and train a logistic regression model
from sklearn.linear_model import LogisticRegression

In [5]:
# Check the model's balanced accuracy on the test set

0.5849004952858337

In [6]:
# Check the model's balanced accuracy on the training set

0.5732749323052917

In [ ]:
# Try the following values for max_depth

max_depths = range(1, 10)
models = {'train_score': [], 'test_score': [], 'max_depth': []}

# Loop through each value in max_depths




# Create a dataframe from the models dictionary with max_depth as the index

In [1]:
# Plot the results