In [ ]:
# Declare lists
rides = []
prices = []

In [ ]:
# Continuous loop

In [ ]:
    # Keep adding rides until exiting loop

In [ ]:

    # Continuous loop

In [ ]:
        # Prompt user for the cost of the ride

In [ ]:

        # Check if the input is a number

In [ ]:
            # Check if the input is less than or equal to 15

In [ ]:
                # Convert the input to a float and append it to the prices list

In [ ]:
                # Exit the loop

In [ ]:
    # Ask the user if they wish to quit, and break the loop if they type 'q'

In [ ]:
# Loop through the rides and prices lists by finding the length of rides

In [ ]:
    # Set the discount variable to False

In [ ]:
    # Check if the price is greater than $5

In [ ]:
        # Update the price to include a 10% discount

In [ ]:
        # Set the discount variable to true

In [ ]:
    # Print the ride name and price, with the price formatted to 2 decimal places

In [ ]:
    # If a discount was applied, print a message that says this

In [ ]:

    # Print a dash 40 times